* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	background-color: inherit; /* Safari */

	font: 1em/1.5 sans-serif;
	color: inherit;
	text-decoration: none;
	border: none;
}

*::placeholder { color: inherit; }

body { margin: auto; }
